.myContainer {
  width: 75%;
  margin: 0 auto;
}

.adminContainer {
  width:25%;
  margin: 0 auto;
}

.form-horizontal {
  width: 100%;
    margin: 0 auto;
  text-align: right;

}

.form-control {
  width: 100%;
}

h1, h2 {
  text-align: center;
}
